.flags {
    margin: 0 auto;
    background-color: black;
    height: 125px;
    width: 921px;
    padding-top: 5px;
    padding-left: 5px;

}

.btn, .btn1, .btn2 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    border-radius: 12px;
    height: 70px;
    width: 240px;
    font-size: 36px;
    outline: none;
    cursor: pointer;
}

.hide {
    display: none;
}

.task {
    text-align: center;
    border: 2px dotted red;
    width: 150px;
    margin: 20px auto;
}
