.flags {
    margin: 0 auto;
    background-color: black;
    height: 125px;
    width: 921px;
    padding-top: 5px;
    padding-left: 5px;

}

.btn, .btn1, .btn2 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    border-radius: 12px;
    height: 70px;
    width: 240px;
    font-size: 36px;
    outline: none;
    cursor: pointer;
}

.hide {
    display: none;
}

.task {
    text-align: center;
    border: 2px dotted red;
    width: 150px;
    margin: 20px auto;
}
.chat {
    width: 375px;
    margin: 0 auto;
    /* border: 3px solid blue; */
}

.textChat {
    padding: 0 5px;
    margin-top: 10px;
    min-height: 150px;
    border: 2px solid green;
}

.left, .right {
    margin-top: 3px;
    padding: 1px 5px;
    border-radius: 10px;
    border: 2px solid blue;
}


.req {
 margin-top: 5px;
 text-align: right;
}
.res {
    margin-top: 5px;
    text-align: left;
}